.buttonStyle {
    font-family: "helvetica neue", Helvetica, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    border: 2px solid rgb(200 0 200 / 0.6);
    background: rgba(174, 174, 196, 0.3);
    color: rgba(0, 0, 19, 0.6);
    box-shadow: 1px 1px 2px rgb(0,0,200,0.4);
    border-radius: 10px;
    padding: 3px 10px;
    display: inline-block;
    cursor: pointer;
}

#firstLoopCounter {
    display: inline;
    margin-left: 10px;
}

#secondLoopCounter {
    display: inline;
    margin-left: 10px;
}

#thirdLoopCounter {
    display: inline;
    margin-left: 10px;
}

#fourthLoopCounter {
    display: inline;
    margin-left: 10px;
}